:root {
  --primary-color: #eee841;
  --blue: #2C7CCF;
  --black: #1f1f1f;
  --white: #e8eaef;
  --trim: #cfd8d1;
  --grey: #b5b7ba;
}

h1, h2, h3 {
  font-family: Source Sans Pro;
}

h1 {
  font-weight: 900;
  font-size: 1.625rem;
  line-height: .875;
}

h2 {
  font-weight: 300;
}

h3 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: .875em;
  color: var(--black);
  line-height: 1.5;
  padding-bottom: .75rem;
  margin: 0;
}

a, a:visited {
 color: var(--blue);
 text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body { 
  font-family: Roboto;
  background: var(--white);
  color: var(--black);
  margin: 0;
  padding: 0;
}

.layout {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
  width: calc(100% - 4rem);
}

.row {
  display: flex;
  width: 100%;
  margin-bottom: 4rem;
}

.row.column {
  flex-direction: column;
}

.row>* {
  flex: 1;
}

.row p {
  font-size: .875rem;
  line-height: 1.5;
}

article p img {
  max-width: 100%;
}

article pre {
  margin: 2rem 0;
  display: block;
  overflow: scroll;
  background-color: var(--trim);
  padding: 0.5rem 1rem;
}

article pre code {
}

article table {

}

/* Header */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header h1 a, header h1 a:visited, header h1 a:hover {
  color: var(--black);
  text-decoration: none;
}

header nav ul {
  display: flex;
  list-style: none;
}

header nav ul a, header nav ul a:visited {
  background: var(--primary-color);
  padding: 8px 32px;
  color: var(--black);
  margin-left: 8px;
  border-radius: 24px;
  text-decoration: none;
  font-family: Source Sans Pro;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav ul a span {
  display: flex;
}

header nav ul a .icon svg {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 1rem;
  fill: var(--black) !important;
}

header nav ul a:hover {
  background: var(--black);
  color: var(--white);
  text-decoration: none;
}

header nav ul a:hover .icon svg {
  fill: var(--white) !important;
}


@media only screen and (min-width: 320px) and (max-width: 479px) {
  header nav ul a .title {
    display: none;
  }
  header nav ul a {
    padding: 0.5rem 1.5rem;
  }
  header nav ul a .icon svg {
    margin-right: 0;
}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  header nav ul a .icon {
    display: none;
  }
}

/* Aside */
aside {
  max-width: 10rem;
  padding-left: 3rem;
  padding-right: 3rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

aside .avatar {
  position: relative;
  display: inline-block;
  display: flex;
  width: 10rem;
}

aside .avatar .swatch {
  position: absolute;
  border-radius: 50%;
  background: var(--primary-color);
  height: 8rem;
  width: 8rem;
  right: 0;
  display: inline-block;
}

aside .avatar img {
  position: relative;
  overflow: hidden;
  display: inline-block;
  border-radius: 50%;
  height: 8rem !important;
  width: 8rem !important;
}

aside .location {
  display: flex;
  width: 100%;
  height: 2rem;
}

aside .location > * {
  background-color: var(--black);
  color: var(--white);
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;

}

aside .location .name {
  flex: 1;
  margin-left: 0.25rem;
  font-size: 0.875rem;
}

aside .location .icon {
  width: 1rem;
  height: 1rem;
}

aside .location .icon svg {
  fill: var(--primary-color);
}

aside .socials {
  list-style: none;
  display: flex;
  padding: 0;
  justify-content: center;
  align-items: center;
}

aside .socials li img {
  width: 2rem;
  opacity: 0.5;
}

aside .socials li a:hover img {
  opacity: 0.75;
}

/* Home */
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .about {
    flex-direction: column;
  }

  aside {
    max-width: 100%;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
}

.history ul {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0 0 1.5rem;
  list-style: none;
}

.history ul::before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  background-color: var(--trim);
  left: 1rem;
  width: 2px;
  transform: translateX(-1px);
  content: "";
}

.history ul li {
  position: relative;
  margin-left: 10px;
  display: flex;
  margin-bottom: 2rem;
}

.history ul li h4 {
  margin: 0;
  font-family: Roboto;
  font-weight: 400;
  font-size: .875rem;
  text-transform: uppercase;
}

.history ul li p {
  margin: 0;
  font-size: .75rem;
}

.history ul li p.dates {
  color: var(--grey);
}

.history .dot-double {
  background: var(--white);
  border: 2px solid var(--trim);
  min-width: 8px;
  width: 8px;
  height: 8px;
  display: inline-block;
  margin-right: 1rem;
  border-radius: 9999px;
}

.personalities {
  flex-wrap: wrap;
}

.personalities > div {
  min-width: 10rem;
  min-height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
}

.personalities svg {
  height: 30%;
  width: 30%;
}

.personalities span {
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
}

.personalities ol {
  padding: 0;
}

.personalities .workingGenius ol li:nth-child(1),
.personalities .workingGenius ol li:nth-child(2) {
 font-weight: 400;
}

.personalities .workingGenius ol li:nth-child(3) ,
.personalities .workingGenius ol li:nth-child(4) {
  opacity: 0.5;
}

.personalities .workingGenius ol li:nth-child(5),
.personalities .workingGenius ol li:nth-child(6) {
  opacity: 0.25;
}

/* Books */
.shelf h4 span {
  font-weight: 400;
  font-size: 0.875rem;
  margin-left: 8px;
}

.books {
  padding: 0;
     display: grid;
     grid-gap: calc(1em + 2vw);
     grid-template-columns: 1fr 1fr;
     font-size: .875em;
     margin: 0 0 calc(1em + 2vw);
     line-height: 1.2;
     list-style: none;
}

@media (min-width: 30em) {
  .books {
    grid-template-columns: repeat(auto-fill, minmax(8em, 1fr));
  }
}
.books .book-container {
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 600px;
  flex-direction: column;
}

.books .book-container .book {
  width: 100%;
  width: 130px;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateY(-30deg);
  transition: transform 1s ease;
  animation: 1s ease 0s 1 initAnimation-a37d;
}

.books .book-container .book::before {
  position: absolute;
  content: ' ';
  left: 0;
  top: 3px;
  width: 48px;
  height: 194px;
  transform: translateX(102px) rotateY(90deg);
  background: linear-gradient(90deg, #fff 0%, #f9f9f9 5%, #fff 10%, #f9f9f9 15%, #fff 20%, #f9f9f9 25%, #fff 30%, #f9f9f9 35%, #fff 40%, #f9f9f9 45%, #fff 50%, #f9f9f9 55%, #fff 60%, #f9f9f9 65%, #fff 70%, #f9f9f9 75%, #fff 80%, #f9f9f9 85%, #fff 90%, #f9f9f9 95%, #fff 100%);
}

.books .book-container .book.page-count-0::before {
  width: 12px;
  transform: translateX(122px) translateZ(-18px) rotateY(90deg);
}

.books .book-container .book.page-count-0 img {
  transform: translateZ(-12px);
}

.books .book-container .book.page-count-100::before {
  width: 18px;
  transform: translateX(118px) translateZ(-16px) rotateY(90deg);
}

.books .book-container .book.page-count-100 img {
  transform: translateZ(-4px);
}

.books .book-container .book.page-count-200::before {
  width: 24px;
  transform: translateX(114px) translateZ(-14px) rotateY(90deg);
}

.books .book-container .book.page-count-200 img {
  transform: translateZ(2px);
}

.books .book-container .book.page-count-300::before {
  width: 30px;
  transform: translateX(112px) translateZ(-12px) rotateY(90deg);
}

.books .book-container .book.page-count-300 img {
  transform: translateZ(6px);
}

.books .book-container .book.page-count-400::before {
  width: 36px;
  transform: translateX(108px) translateZ(-10px) rotateY(90deg);
}

.books .book-container .book.page-count-400 img {
  transform: translateZ(10px);
}



.books .book-container .book::after {
  position: absolute;
  top: 0;
  left: 0;
  content: ' ';
  width: 130px;
  height: 200px;
  transform: translateZ(-25px);
  background-color: #01060f;
  border-radius: 0 2px 2px 0;
  box-shadow: -10px 0 50px 10px #aaaaaa;
}

.book-container .book:hover {
  transform: rotateY(0deg);
}

.books progress {
  margin-top: 1rem;
  width: 80%;
  height: 0.35rem;
  border-radius: 1rem;
}

.books progress[value] {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 1rem;
}

.books progress::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.books progress[value]::-webkit-progress-value {
  border-radius: 8px;
  background-color: #29a9e7;

}

.books img {
  width: 100%;
  max-width: 156px;
  max-height: 200px;
  height: 200px;
  -o-object-fit: cover;
  object-fit: cover;
}
.books .book-container .book img {
  position: absolute;
  top: 0;
  left: 0;
  width: 130px;
  height: 200px;
  transform: translateZ(25px);
  background-color: #01060f;
  border-radius: 0 2px 2px 0;
  box-shadow: 5px 5px 20px #aaaaaa;
  background-color: #01060f;
}

/* Blog */
.posts {
  list-style: none;
  padding: 0;
  margin: 0;
}

.posts li {
  border-bottom: 1px solid var(--trim);
}

.posts li a {
  padding: 2rem 0;
  color: var(--black);
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Source Sans Pro;
  font-weight: 600;
  line-height: 1.5;
}