<header>
  <h1>{{ me.name }}</h1>
  <nav>
    <ul>
      <li><a href="/"><span class="icon">{% include img/icons/home.svg %}</span><span class="title">About</span></a></li>
      <li><a href="/blog"><span class="icon">{% include img/icons/rss.svg %}</span><span class="title">Blog</span></a></li>
      <li><a href="/books"><span class="icon">{% include img/icons/books.svg %}</span><span class="title">Books</span></a></li>
    </ul>
  </nav>
</header>