---
title: Posts
layout: layouts/base.liquid
---
<div class="page posts">
  {% for post in posts %}
   
    <li>
      <a href="/post/{{ post.title | slugify }}">
        <div>
          <h2>{{ post.title }} {{ post.date | date: "%B %e, %Y" }}</h2>

        </div>
      </a>
    </li>
  {% endfor %}
</div>
