---
title: Blog
---
  <ul class="page posts">
    {% for post in collections.posts reversed %}
      <li>
        <a href="{{ post.url }}">
          <div>
            {%- if post.data.book -%}
              {{ "/src/img/icons/book-light.svg" | svgContents: "icon" | safe }}
            {%- endif -%}
            {{ post.data.title }}
          </div>
          <div class="date">
            {{ post.data.date | date: "%B %d, %Y" }}
          </div>
        </a>
      </li>
    {% endfor %}
  </ul>
