---
title: Bourbon
tags: bourbons
---
  <div class="page bourbons">
    {% for bourbon in bourbons %}
      {% assign src = bourbon['Image'][0].thumbnails.large.url %}
      {% assign alt = bourbon['Name'] %}
      
      <div>
        {% if src %}
        {% image src, alt, "bourbons" %}
        {% else %}
          {{ "/src/img/icons/bottle.svg" | svgContents: "icon" | safe }}
        {% endif %}
        {{ bourbon["Name"] }}
        <div>{{ bourbon["Volume"]}}ml | {{ bourbon["Proof"]}} Proof</div>
      </div>
    {% endfor %}
  </div>
