---
title: Debug
---
<div class="page books">
<div>
{{ page | debug }}
{% comment %} {{ collections.all[0].template.templateData.globalData | debug }} {% endcomment %}
{{ collections.poop | debug }}
</div>