.page.books {
  display: flex;
  flex-direction: column;
}

.year h3 {
  margin-bottom: 2rem;
}

.year h3 span {
  font-weight: 300;
  font-size: 0.875rem;
  margin-left: 8px;
}

.shelf {
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* gap: 1em; */
  /* display: grid; */
  /* grid-gap: calc(1em + 2vw); */
  /* grid-template-columns: 1fr 1fr; */
  /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
  font-size: 0.875em;
  margin: 0 0 calc(1em + 2vw);
  line-height: 1.2;
  list-style: none;
}

@media (min-width: 30em) {
  .shelf {
    /* grid-template-columns: repeat(auto-fill, minmax(8em, 1fr)); */
  }
}
