.bookStats {
  display: grid;
  grid-template-columns: repeat(auto-fill, auto);
  margin-bottom: 2rem;
  align-items: flex-start;
  gap: 1rem;
  position: relative;
  /* max-height: 0; */
  height: 0;
  transition: all 0.25s ease-in-out;
  overflow: hidden;
  clear: both;
}

.bookStats-toggle {
  float: right;
}

.bookStats.active {
  height: 185px;
  /* max-height: 200px; */
  overflow-y: scroll;
}

.bookStats h4 {
  margin: 0 0 0.5rem 0;
  padding: 0;
}

.bookStats p {
  margin: 0 0 1rem 0;
  padding: 0;
}

.bookStats > div {
  justify-self: center;
  display: flex;
  max-width: 420px;
  flex-direction: column;
  justify-content: space-between;
}

.bookStats .bookStats-toggle {
  grid-column: span 3;
}

.bookStats .list {
  justify-content: flex-start;
}

.bookStats .list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.bookStats .list li {
  display: flex;
  justify-content: space-between;
}

.bookStats .list li strong {
  font-weight: bold;
  font-family: "Raleway";
  text-transform: uppercase;
  width: 110px;
  margin-right: 1rem;
  font-size: 0.85rem;
  display: block;
  color: var(--dark-grey);
}



@media (min-width: 900px) {
  .bookStats {
    grid-template-columns: repeat(2, auto);
  }
  .bookStats > div {
    justify-self: flex-start;
  }

  .bookStats .bargraph .year-container {
    width: 18px;
  }
}

@media (min-width: 1200px) {
  .bookStats {
    grid-template-columns: repeat(3, auto);
  }
  .bookStats > div {
    justify-self: flex-start;
  }
}

