.toggle {
  position: relative;
  display: flex;
  width: 4rem;
}

.toggle input {
  opacity: 0;
  width: 100%;
  height: 3rem;
  display: flex;
}

/* The slider */
.toggle .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  background-color: var(--trim);
  transition: .4s;
  border-radius: 2rem;
}

.toggle .slider:before {
  position: absolute;
  content: "";
  height: 1.625rem;
  width: 1.625rem;
  left: 0.25rem;
  top: 0.25rem;
  background-color: var(--white);
  transition: .4s;
  border-radius: 50%;
}

.toggle input:checked + .slider {
  background-color: var(--primary-color);
}

.toggle input:checked + .slider:before {
  transform: translateX(1.85rem);
}

.toggle .icon {
  position: absolute;
  top: 2px;
  left: 7px;
  display: flex;
  height: 1.625rem;
  width: 1.625rem;
}

.toggle .icon svg {
  width: 16px;
  height: 16px;
  fill: var(--grey);
  z-index: 5;
  position: relative;
  top: 0.5rem;
  left: 0.125rem;
  transition: 0.4s;
}

.toggle input:checked ~ .icon svg {
  transform: translateX(1.85rem);
  fill: var(--primary-color);
}