---
layout: layouts/base.liquid
---
<div class="page project">
  <h1>{{ title }}</h1>
  {%- assign classes = "content" -%}
  {%- if stack -%}
    {%- assign classes = classes | append: " has-stack" -%}
  {%- endif -%}
  <div class="{{ classes }}">
    {%- if stack -%}
      {% include partials/slider %}
      {% include partials/projectMeta %}
    {%- endif -%}
    <article>
      {{ content | safe }}
    </article>
  </div>
</div>
